@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  background-image: url("../images/main-background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  font-family: 'Noto Sans TC', sans-serif !important; }
  @media only screen and (max-width: 576px) {
    body {
      padding: 0 20px; } }
  body img {
    width: 100%;
    margin-bottom: 10px; }
  body .btn-style {
    margin-bottom: 15px; }

header .paperHeader {
  padding: 40px 0 15px;
  border-bottom: 2px #314165 solid; }
  header .paperHeader-date {
    font-weight: 300;
    font-size: 16px; }
  header .paperHeader-title {
    text-align: right; }
    header .paperHeader-title .titleImg-S {
      width: 80px; }

.paperContainer {
  padding: 0; }
  .paperContainer .heroArea {
    padding: 35px 0 40px;
    border-bottom: 1px black solid; }
    .paperContainer .heroArea-image {
      padding-top: 20px;
      padding-left: 0;
      background-image: url("../images/daqiaotou-default-header.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .paperContainer .heroArea-image .heroImg-info {
        text-align: right;
        color: white;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); }
        .paperContainer .heroArea-image .heroImg-info .heroImg-list {
          list-style: none;
          font-weight: 300; }
    .paperContainer .heroArea-title {
      padding-right: 0; }
      .paperContainer .heroArea-title .paperInfo {
        background-image: url("../images/hero-title-bg.png");
        background-repeat: repeat-y;
        background-size: 100%;
        border: 4px #32456F solid;
        padding: 15px; }
        @media only screen and (max-width: 576px) {
          .paperContainer .heroArea-title .paperInfo {
            padding: 5px; } }
        .paperContainer .heroArea-title .paperInfo .titleImg-L {
          margin-bottom: 10px; }
        .paperContainer .heroArea-title .paperInfo-list {
          padding-left: 0;
          list-style: none;
          font-size: 14px;
          font-weight: 300; }
  .paperContainer .contentArea {
    padding: 35px 0 40px; }
    .paperContainer .contentArea .contentLeft {
      padding-left: 0;
      border-right: 1px #979797 solid; }
      @media only screen and (max-width: 576px) {
        .paperContainer .contentArea .contentLeft {
          padding-right: 0;
          border-right: 0; } }
    .paperContainer .contentArea .contentRight {
      padding-right: 0; }
      @media only screen and (max-width: 576px) {
        .paperContainer .contentArea .contentRight {
          padding-left: 0; } }
    .paperContainer .contentArea .Article {
      padding-left: 0;
      padding-right: 0; }
      .paperContainer .contentArea .Article-content {
        font-weight: 300; }
      .paperContainer .contentArea .Article-imgDescription {
        font-size: 14px;
        font-weight: 300; }
